h1 {
    color: azure;
    text-align: center;
    margin: auto;
    border: 8px double azure;
    width: 300px;
    margin-top: 70px;
    font-size: xx-large;
}

h2 {
    color: azure;
    text-align: center;
    margin: auto;
    border: 8px double azure;
    width: 180px;
    font-size: xx-large;
    margin-top: 70px;
}

h3 {
    color: azure;
    text-align: center;
    margin: auto;
    border: 8px double azure;
    width: 180px;
    font-size: xx-large;
    margin-top: 70px;
}

li {
    color: aliceblue;
    font-size: x-large;
}

p {
    color: mintcream;
   font-size: x-large;
}

a:hover {
    color: rebeccapurple;
}

body {
    background-color: black;
    background-image: url('../img/plano_de_fundo.png');
    background-size: cover;
    background-attachment: fixed;
}

div {
    margin: auto;
}

main {
    margin: auto;
}

#tela_inicial {
    text-align: center;
}


.img {
    margin: auto;
    border: 5px solid azure;
    text-align: center;
    width: 700px;
    border-radius: 10%;
    height: 400px;
}



.ali {
    text-align: center;
}

header {
    top: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: black;
}


/* LINKS */
/*PÁGINA PRINCIPAL*/
#comunidade{
    background-color: darkgray;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: azure;
    padding: 8px 15px;
    border-radius: 10px;
    position: relative;
    left: 50%;
    top: 20px;
}
#elementos {
    background-color: darkgray;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: azure;
    padding: 8px 15px;
    border-radius: 10px;
    position: relative;
    left: 39%;
    top: 20px;
}
#personagens {
    background-color: darkgray;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: azure;
    padding: 8px 15px;
    border-radius: 10px;
    position: relative;
    left: 30%;
    top: 20px;
}
#RETORNE {
    background-color: darkgray;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: azure;
    padding: 8px 15px;
    border-radius: 10px;
    position: relative;
    left: 30%;
    top: 20px;
}
/* PERSONAGENS */
#tome {
    background-color: darkgray;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: azure;
    padding: 8px 15px;
    border-radius: 10px;
    position: relative;
    left: 31%;
    top: 20px;
}
#elem {
    background-color: darkgray;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: azure;
    padding: 8px 15px;
    border-radius: 10px;
    position: relative;
    left: 41%;
    top: 20px;  
}
#comu {
    background-color: darkgray;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: azure;
    padding: 8px 15px;
    border-radius: 10px;
    position: relative;
    left: 51%;
    top: 20px;
}
/* ELEMENTOS */
#retome {
    background-color: darkgray;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: azure;
    padding: 8px 15px;
    border-radius: 10px;
    position: relative;
    left: 30%;
    top: 20px;
}
#perso {
    background-color: darkgray;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: azure;
    padding: 8px 15px;
    border-radius: 10px;
    position: relative;
    left: 40.4%;
    top: 20px;
}
#comun {
    background-color: darkgray;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: azure;
    padding: 8px 15px;
    border-radius: 10px;
    position: relative;
    left: 51%;
    top: 20px;
}
/*LINKS*/


footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 35px;
    background-color: black;
    color: mintcream;
    font-size: x-large;
    text-align: center;
}