h1 {
    color: azure;
    text-align: center;
    margin: auto;
    border: 8px double azure;
    width: 300px;
    margin-top: 70px;
}

h2 {
    color: azure;
    text-align: center;
    margin: auto;
    border: 8px double azure;
    width: 180px;
    font-size: xx-large;
    margin-top: 70px;
}

h3 {
    color: azure;
    text-align: center;
    margin: auto;
    border: 8px double azure;
    width: 180px;
    font-size: xx-large;
}

li {
    color: aliceblue;
    font-size: x-large;
}

p {
    color: mintcream;
   font-size: x-large;
}

a:hover {
    color: rebeccapurple;
}

body {
    background-color: black;
    background-image: url('../img/plano_de_fundo.png');
    background-size: cover;
    background-attachment: fixed;
}

div {
    margin: auto;
}

main {
    margin: auto;
}

#tela_inicial {
    text-align: center;
}



.img {
    margin: auto;
    border: 5px solid azure;
    text-align: center;
    width: 700px;
    border-radius: 10%;
}

.ali {
    text-align: center;
}

header {
    top: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: black;
}


#comunidade{
    background-color: gray;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: azure;
    padding: 8px 15px;
    border-radius: 20px;
    position: relative;
    left: 30%;
    top: 20px;
}

#reliquias {
    background-color: gray;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: azure;
    padding: 8px 15px;
    border-radius: 20px;
    position: relative;
    left: 30%;
    top: 20px;
}

#personagens {
    background-color: gray;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: azure;
    padding: 8px 15px;
    border-radius: 20px;
    position: relative;
    left: 30%;
    top: 20px;
}

#RETORNE {
    background-color: gray;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: azure;
    padding: 8px 15px;
    border-radius: 20px;
    position: relative;
    left: 30%;
    top: 20px;
}

#mamada {
    background-color: gray;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: azure;
    padding: 8px 15px;
    border-radius: 20px;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: black;
    color: mintcream;
    font-size: x-large;
    text-align: center;
}