h1 {
    color: azure;
    text-align: center;
    margin: auto;
    border: 8px double azure;
    width: 300px;
}

h2 {
    color: azure;
    text-align: center;
    margin: auto;
    border: 8px double azure;
    width: 180px;
    font-size: xx-large;
}



li {
    color: aliceblue;
    font-size: x-large;
}

p {
    color: mintcream;
   font-size: x-large;
}

a {
    text-decoration: none;
    color: aquamarine;
}

body {
    background-color: black;
    background-image: url('../img/plano_de_fundo.png');
    background-size: cover;
    background-attachment: fixed;
}

#tela_inicial {
    text-align: center;
}

.link {
    background-color: black;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: azure;
    padding: 8px 15px;
    border-radius: 20px;
}



#Quântico {
    color: slateblue;
}
#Raio {
    color: orchid;
}
#Imaginário{
    color: gold;
}
#Fogo {
    color: red;
}
#Gelo {
    color: cyan;
}
#Vento {
    color: aquamarine;
}
#Fisíco {
    color: lightgray;
}

.ali {
    text-align: center;
}
