table{
    border-collapse: collapse;
}

thead{
    color: white;
}

tbody{
    color: white;
    color: aliceblue;
}

tfoot{
    color: white;
}

th, 
td{
    border: 1px solid white;
}
body{
    background-color: black;
}

a{
    text-decoration: none;
    color: lime;    
}

.link {
    color: lime;
}

section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1{
    color: white;
    text-align: center;

}

#projeto{
    color: lime;
}