table{
    border-collapse: collapse;
}

thead{
    color: white;
}

tbody{
    color: white;
}

tfoot{
    color: white;
}

th, 
td{
    border: 1px solid white;
}
body{
    background-color: black;
}

a{
    text-decoration: none;
    color: lime;    
}

.link {
    color: lime;
}
